<app-navbar2></app-navbar2>
<div class="card mb-3 text-center animated fadeIn">
    <img id="headerImg" class="card-img-top" src="assets/img/empresa.jpg">
    <div class="card-body">
        <h3 class="card-title text-weight-bold">SOY UNA GRAN CORPORACIÓN</h3>
        <p class="card-text">
            Si eres una Empresa y necesitas de nuestros Servicios contacta con nosotros.
        </p>

    </div>
</div>
<hr>

<div class="container-fluid text-center animated fadeInRight">
    <div class="row">
        <div class="col">
            <img id="img" class="card-img-top" src="assets/img/mapa.png">
        </div>
        <div class="col">

            <form id="form">
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre:">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Apellidos:">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="E-Mail:">
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Teléfono:">
                </div>
                <br>
                <select class="custom-select">
                            <option selected>En qué estás interesado?</option>
                            <option value="1">Consultoría de Desarrollo de Negocio</option>
                            <option value="2">Corporate Venturing</option>
                            <option value="3">Consultoria Estratégica</option>
                            <option value="3">Consultoria de Innovación</option>
                            <option value="3">Consultoria Tecnológica</option>
                    </select>
                <br>
                <button id="contacto" class="btn btn-lg btn-block">Enviar</button>
            </form>

        </div>
    </div>

    <br><br><br><br>
    <app-footer></app-footer>