button:hover {
    color: white;
    cursor: pointer;
}

#contacto {
    background-color: rgb(223, 148, 8);
    margin-top: 20px;
}

#img {
    border-radius: 20px;
}

#form {
    margin-top: 50px;
}

#headerImg {
    height: 300px;
}