<div id="container" class="row container-fluid">

    <div id="container" class="col-12 container-fluid">

        <video autoplay="autoplay" loop="loop" id="video_background" preload="auto">
          
                    <source src="assets/video/oryonC.mp4" type="video/mp4"/>
        </video>
        <div id="bloque" class="text-center">
            <h4 id="texto" class="stroke">
                <h1> ORYON UNIVERSAL </h1>

                <h5 id="texto2"> Somos una consultora de innovación que conecta startups y corporaciones <br> interesadas en la innovación incremental o disruptiva.</h5>
            </h4>

            <div class="text-center" id="icons" style="color:rgb(223, 148, 8)">
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-linkedin fa-2x"></i>
                <i class="fab fa-twitter-square fa-2x"></i>

            </div>
            <button id="nosotros" type="button" class="btn text-center">SOBRE NOSOTROS</button>

        </div>
    </div>
</div>