<app-navbar2></app-navbar2>
<img class="card-img-top animated fadeIn" src="assets/img/emprendedor2.jpg" alt="Card image cap">
<div id="cardBloque" class="card-deck">
    <div id="card" class="card animated fadeInLeft">
        <img class="card-img-top" src="assets/img/consultoria.png">
        <div class="card-body text-center">
            <h5 class="card-title">CONSULTORÍA ESTRATEGIA Y DESARROLLO DE NEGOCIO</h5>
            <p class="card-text">
                Ofrecemos servicios a Pymes y grandes a Empresas. Acompañamiento en la definición de la Estrategia Empresarial.
            </p>
        </div>
        <div class="card-footer text-center">
            <button (click)="activarConsultoria()" id="nosotros" type="button" class="btn text-center">QUIERO CONOCER MÁS</button>
        </div>
    </div>
    <div id="card" class="card animated fadeInLeft">
        <img class="card-img-top" src="assets/img/consultoria2.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">CONSULTORÍA Y SERVICIOS CORPORATE VENTURING</h5>
            <p class="card-text">
                Ofrecemos Servicios de Emprendimiento Competitivo “EXTERNAL CORPORATE VENTURING”
            </p>
        </div>
        <div class="card-footer text-center">
            <button (click)="activarVenturing()" id="nosotros" type="button" class="btn text-center">QUIERO CONOCER MÁS</button>
        </div>
    </div>
    <div id="card" class="card animated fadeInLeft">
        <img class="card-img-top" src="assets/img/consultoria3.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">CONSULTORÍA TECNOLÓGICA
            </h5>
            <p class="card-text">
                Ofrecemos Servicios de Consultoría Tecnológica
            </p>
        </div>
        <div class="card-footer text-center">
            <button (click)="activarTecno()" id="nosotros" type="button" class="btn text-center">QUIERO CONOCER MÁS</button>
        </div>
    </div>
</div>

<hr>

<div id="sections" class="animated fadeInDownBig" *ngIf="consultoria">
    <div class="card text-orange">
        <img id="img" class="card-img" src="assets/img/back.jpg">
        <div class="card-img-overlay">
            <h5 id="title" class="card-title">CONSULTORÍA ESTRATEGIA Y DESARROLLO DE NEGOCIO</h5>
            <p id="texto" class="card-text">
                Ofrecemos servicios a Pymes y grandes a Empresas.<br> Acompañamiento en la definición de la Estrategia Empresarial.
            </p>
        </div>
    </div>

    <div id="mercado" class="card-group animated fadeInDown">
        <div class="card text-center">
            <img class="card-img-top" src="assets/img/mapa.png">
            <div class="card-body text-center">
                <h3 class="card-title">
                    Estudios de Mercado
                </h3>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-chart-pie fa-lg"></i> Análisis de Mercado
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-chart-pie fa-lg"></i> Estudio de la Competencia
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-chart-pie fa-lg"></i> Definición Valor Competerial
                </h5>

            </div>
        </div>
        <div class="card text-center animated fadeIn">
            <img class="card-img-top" src="assets/img/negocio.jpg">
            <div class="card-body text-center">
                <h3 class="card-title text-center">
                    Business plan
                </h3>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-briefcase fa-lg"></i> Pitch - Deck
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-briefcase fa-lg"></i> Canvas
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-briefcase fa-lg"></i> Plan Financiero
                </h5>

            </div>
        </div>
        <div class="card text-center animated fadeIn">
            <img class="card-img-top" src="assets/img/map.jpg">
            <div class="card-body">
                <h3 class="card-title">
                    Acompañamiento
                </h3>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-hands-helping fa-lg"></i> Estrategia
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-hands-helping fa-lg"></i> MKT
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-hands-helping fa-lg"></i> Tecnología
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-hands-helping fa-lg"></i> Comercial
                </h5>
                <h5 id="card-text" class="card-text text-center">
                    <i id="pie" class="fas fa-hands-helping fa-lg"></i> Financiero
                </h5>


            </div>
        </div>
    </div>

</div>

<div *ngIf="venturing" id="sections" class="animated fadeInDown">
    <div class="card text-orange">
        <img id="img" class="card-img" src="assets/img/emprendedor2.png">
        <div class="card-img-overlay">
            <h5 id="title2" class="card-title">CONSULTORÍA Y SERVICIOS CORPORATE VENTURING</h5>
            <p id="texto" class="card-text">
                Ofrecemos Servicios de Emprendimiento Competitivo <br> “EXTERNAL CORPORATE VENTURING”
            </p>
        </div>
    </div>

    <div id="tarjetas" class="container">
        <div class="row">
            <div class="col-sm">

                <div id="card1" class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">EXTERNAL CORPORATE VENTURING</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            Búsqueda de nuevos Talentos y Nuevos Modelos de Negocios.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-sm">

                <div id="card2" class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">EXTERNAL CORPORATE VENTURING</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            Desarrollo de Nuevas herramientas para abrir paso a nuevos Productos y/o Mercados.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-sm">

                <div id="card3" class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">EXTERNAL CORPORATE VENTURING</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            Análisis de las nuevas Tecnologías para desarrollar nuevas líneas de Negocio.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card-columns">
        <div class="card border-primary">
            <img class="card-img-top" src="assets/img/obj.jpg">
            <div class="card-body border-primary text-center">
                <i id="trophy" class="fas fa-bullseye fa-2x"></i>
                <br>
                <h5 class="card-title">Definición de Objetivos</h5>

            </div>
        </div>
        <div class="card border-primary p-3">
            <img class="card-img-top" src="assets/img/diag.jpg">
            <div class="card-body border-primary text-center">
                <i id="trophy" class="fas fa-user-md fa-2x"></i>
                <br>
                <h5 class="card-title">Diagnóstico Empresarial</h5>

            </div>
        </div>
        <div class="card border-primary">
            <img class="card-img-top" src="assets/img/pro.jpg">
            <div class="card-body border-primary text-center">
                <i id="trophy" class="fas fa-search-plus fa-2x"></i>
                <br>
                <h5 class="card-title">Identificación de Àreas Pro-Incubación </h5>
            </div>
        </div>
        <div class="card border-primary bg-primary text-white text-center p-3 animated flash">
            <blockquote class="blockquote mb-0">
                <h3>FASES <br>CORPORATE VENTURING</h3>
            </blockquote>
        </div>
        <div class="card border-primary text-center">
            <img class="card-img-top" src="assets/img/opor.jpg">
            <div class="card-body border-primary text-center">
                <i id="trophy" class="fas fa-signal fa-2x"></i>
                <br>
                <h5 class="card-title">Descubrimiento de Oportunidades de <br> Crecimiento en el Sector</h5>
            </div>
        </div>
        <div class="card border-primary">
            <img class="card-img-top" src="assets/img/forma.jpeg">
            <div class="card-body border-primary text-center">
                <i id="trophy" class="fas fa-chalkboard-teacher fa-2x"></i>
                <br>
                <h5 class="card-title">Formación de Menturing Strategy</h5>
            </div>
        </div>
        <div class="card border-primary p-3 text-right">
            <img class="card-img-top" src="assets/img/herra.jpg">
            <div class="card-body border-primary text-center">
                <i id="trophy" class="fas fa-wrench fa-2x"></i>
                <br>
                <h5 class="card-title">Identificación de Herramientas </h5>
                <div class="card-footer text-center">
                    <button id="botonHerra" (click)="activarHerramientas()" type="button" class="btn btn-primary text-center btn-sm">QUIERO CONOCER MÁS</button>
                </div>
            </div>
        </div>


    </div>

    <div *ngIf="herramientas" id="herra" class="card text-center animated fadeInDownBig" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/herra.jpg">
        <i id="trophy" class="fas fa-wrench fa-2x text-center"></i>
        <h5 class="card-header text-center">Identificación de Herramientas</h5>
        <div class="card-body text-center text-white bg-dark">

            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Hakatons</h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Retos</h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Descubrimiento </h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Incubación </h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Patnership </h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Adquisición </h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Formación </h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Aceleración</h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Ventur Client</h6>
            <i class="fas fa-toolbox"></i>
            <h6 class="card-title">Ventur Bulding</h6>
        </div>
    </div>



</div>

<div *ngIf="tecno" id="App" class="container-fluid animated fadeInDown">

    <div class="card mb-3">
        <img id="imgTecno" class="card-img-top" src="assets/img/tecno.jpg">
        <div class="card-body text-center">
            <h3 class="card-title">CONSULTORÍA TECNOLÓGICA</h3>

            <h5 class="card-text">
                Ofrecemos Servicios de Consultoría Tecnológica &nbsp; <i id="trophy" class="fas fa-check"></i>
            </h5>

            <h5 class="card-text">
                Desarrollo de Software a Medida &nbsp; <i id="trophy" class="fas fa-check"></i>
            </h5>

            <h5 class="card-text">
                Sistemas &nbsp;<i id="trophy" class="fas fa-check"></i>
            </h5>
            <div id="app" class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="assets/img/web.jpg">
                    <div class="card-body">
                        <h5 class="card-title">
                            Desarrollo Web<br> ( CMS - Webs Apps)
                        </h5>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/app.jpg">
                    <div class="card-body">
                        <h5 class="card-title">
                            Desarrollo de Apps<br>( Nativas e Híbridas )
                        </h5>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/cons.jpg">
                    <div class="card-body">
                        <h5 class="card-title">
                            Consultoría Informática
                        </h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<app-footer></app-footer>