#col-9 {
    margin-top: 20px;
}

#col-3 {
    margin-top: 20px;
}

#nav {
    margin-top: 20px;
    color: rgb(230, 138, 40);
}

#nav2 {
    color: rgb(230, 138, 40);
}

#nav2:hover {
    color: black;
    cursor: pointer;
}

#title {
    color: rgb(230, 138, 40);
}

#article {
    margin-top: 20px;
}

#card:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
}

#card {
    margin-top: 10px;
}

.card-body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ffa84c+0,ffa84c+1,fff9f4+10,fff9f4+93,ff7b0d+100 */
    background: rgb(255, 168, 76);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 168, 76, 1) 0%, rgba(255, 168, 76, 1) 0%, rgba(255, 168, 76, 1) 1%, rgba(255, 249, 244, 1) 10%, rgba(255, 249, 244, 1) 93%, rgba(255, 123, 13, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 168, 76, 1) 0%, rgba(255, 168, 76, 1) 0%, rgba(255, 168, 76, 1) 1%, rgba(255, 249, 244, 1) 10%, rgba(255, 249, 244, 1) 93%, rgba(255, 123, 13, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 168, 76, 1) 0%, rgba(255, 168, 76, 1) 0%, rgba(255, 168, 76, 1) 1%, rgba(255, 249, 244, 1) 10%, rgba(255, 249, 244, 1) 93%, rgba(255, 123, 13, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}