<app-navbar2></app-navbar2>

<div class="container-fluid">
    <div class="row">
        <div id="col-9" class="col-9">
            <div id="article" class=" text-center">
                <div class="card">
                    <img class="card-img-top" src="assets/img/corp.jpg">
                    <div class="card-body">
                        <h5 id="title" class="card-title text-uppercase">Importancia del Corporate Venturing hoy en día</h5>
                        <p class="card-text"> Este es un blog de ejemplo para dar información acerca de nuestros servicios</p>

                    </div>
                </div>
            </div>
            <div id="article" class=" text-center">
                <div class="card">
                    <img class="card-img-top" src="assets/img/corp2.jpg">
                    <div class="card-body">
                        <h5 id="title" class="card-title text-uppercase">Convierte tu empresa en líder del sector</h5>
                        <p class="card-text"> Este es un blog de ejemplo para dar información acerca de nuestros servicios</p>

                    </div>
                </div>
            </div>
            <div id="article" class=" text-center">
                <div class="card">
                    <img class="card-img-top" src="assets/img/corp3.jpg">
                    <div class="card-body">
                        <h5 id="title" class="card-title text-uppercase">
                            Cómo conectamos startups desde Barcelona & Madrid a todo el mundo
                        </h5>
                        <p class="card-text"> Este es un blog de ejemplo para dar información acerca de nuestros servicios</p>

                    </div>
                </div>
            </div>

        </div>
        <!--col-9-->

        <div id="col-3" class="col-3 text-center">
            <h3 id="title">ÚLTIMOS POST</h3>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/corp.jpg">
                <div class="card-body">
                    <p class="card-text text-uppercase">
                        Importancia del Corporate Venturing hoy en día
                    </p>
                </div>
            </div>

        </div>
        <!--col-3-->


    </div>
</div>


<nav id="nav" aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a id="nav2" class="page-link" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            <a id="nav2" class="page-link">Siguiente</a>
        </li>
    </ul>
</nav>


<br><br><br><br>
<app-footer></app-footer>