<app-navbar2></app-navbar2>
<div class="card mb-3 text-center animated fadeIn">
    <img id="headerImg" class="card-img-top" src="assets/img/inversora.jpg">
    <div class="card-body">
        <h3 class="card-title text-weight-bold">SOY UNA ENTIDAD INVERSORA O INVERSOR</h3>
        <!--<p class="card-text">
            Si eres una startup y necesitas Asesoramiento, Acompañamiento o Inversión. Contáctanos!!
        </p>-->

    </div>
</div>
<hr>

<div class="container-fluid text-center animated fadeInRight">
    <div class="row">
        <div class="col">
            <img id="img" class="card-img-top" src="assets/img/inver.jpg">
        </div>
        <div class="col">

            <form id="form">
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre:">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Apellidos:">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de Empresa:">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="E-Mail:">
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Teléfono:">
                </div>
                <br>
                <select class="custom-select">
                            
                            <option selected>Tipo de inversor:</option>
                            <option value="1">Family Office</option>
                            <option value="2">Venture Capital</option>
                            <option value="1">Fondo de Inversión</option>
                            <option value="2">Business Angel</option>
                </select>
                <br> <br>
                <select class="custom-select">
                            
                    <option selected>En qué estás interesado?</option>
                    <option value="1">Consultoría</option>
                    <option value="2">Inversiones</option>
                </select>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Otros:">
                <br>
                <button id="contacto" class="btn btn-lg btn-block">Enviar</button>
            </form>

        </div>
    </div>

    <br><br><br><br>
    <app-footer></app-footer>