<div id="section" class="container text-center">
    <!--<img id="back" src="assets/img/back.jpg">-->
    <div id="tarjetas" class="container">
        <div class="row">

            <div class="col" text-center>
                <div id="card" class="card text-center " style="width: 20rem;">
                    <img class="card-img-top" src="assets/img/corporacion.jpg">
                    <div class="card-body">
                        <h5 class="card-title">SOY UNA GRAN CORPORACIÓN</h5>

                        <button [routerLink]="['/corporacion']" id="contacto" class="btn">Contáctanos</button>
                    </div>
                </div>
            </div>
            <div class="col" text-center>

                <div id="card" class="card text-center" style="width: 20rem;">
                    <img class="card-img-top" src="assets/img/emprendedor.png">
                    <div class="card-body">
                        <h5 class="card-title">SOY UNA STARTUP</h5>

                        <button [routerLink]="['/startup']" id="contacto" class="btn">Contáctanos</button>
                    </div>
                </div>
            </div>
            <div class="col" text-center>

                <div id="card" class="card text-center" style="width: 20rem;">
                    <img class="card-img-top" src="assets/img/inversor.png">
                    <div class="card-body">
                        <h5 class="card-title">SOY UN INVERSOR O ENTIDAD DE INVERSIÓN</h5>
                        <button [routerLink]="['/entidad']" id="contacto" class="btn">Contáctanos</button>
                    </div>
                </div>
            </div>


        </div>

        <div class="container-fluid animated fadeInUp">
            <div id="banner1" class="card text-white ">
                <img id="barca" class="card-img" src="assets/img/barca.jpg">
                <div class="card-img-overlay text-center">
                    <h2 id="titleB" class="card-title">ORYON UNIVERSAL</h2>
                    <p id="textoB" class="card-text text-uppercase font-weight-bold  border-dark">
                        Es una Consultora de Innovación que conecta Startups y Corporaciones interesadas en la innovación incremental o disruptiva. Oryon selecciona, acompaña, acelera e impulsa a las mejores Startups con el fin último de presentarlas y conectarlas a organizaciones
                        y/o instituciones (corporate venturing). </p>

                </div>
            </div>
        </div>

        <div id="videoC" class="container">
            <div class="row">
                <div id="lateral" class="col align-self-start shadow-lg p-3 mb-5 bg-dark rounded text-uppercase font-weight-bold animated fadeInLeft ">
                    <p>
                        Toda compañía con voluntad de reinventarse para mantener una ventaja competitiva que garantice la sostenibilidad de su crecimiento, debería contemplar una estrategia de innovación que le permita capturar los procesos disruptivos que redefinen los modelos
                        de negocio. Para ello una corporación puede y debe usar ideas y propuestas tanto internas como externas, así como caminos internos y externos al mercado, procurando estar siempre actualizados tecnológicamente.
                    </p>
                </div>
                <div class="col align-self-center shadow-lg p-3 mb-5 bg-white rounded animated fadeInUp">
                    <h5 id="videoText">VIDEO CORPORATE</h5>
                    <video id="video_background" controls class="border border-warning">
          
                                <source  id="video" src="assets/video/oryon.mp4" type="video/mp4" />
                        </video>
                </div>
                <div id="lateral" class="col align-self-end shadow-lg p-3 mb-5 bg-dark rounded text-uppercase font-weight-bold animated fadeInRight">
                    En esta línea, el corporate venturing permite tender puentes entre startups y corporaciones de manera que la empresa no quede fuera de juego en esta época en la que los procesos disruptivos están al orden del día.Así pues el Corporate Venturing forma
                    parte de de la estrategia de innovación global y consiste en una fórmula según la cual la corporación colabora con Startups a través de un amplio rango de herramientas y modelos que aportan resultados increíblemente positivos para
                    ambos lados de la ecuación.

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 id="madridT" class="card-title text-uppercase font-weight-bold">CORPORATE VENTURING</h2>
                <p id="madridT" class="card-text text-uppercase font-weight-bold">El corporate venturing es más relevante que nunca porque permite apalancar las capacidades de startups y corporaciones de manera que extrae lo mejor de cada mundo: modelos de negocio "frescos", tecnología e innovación por parte de las
                    startups y la experiencia de las corporaciones que permite escalar las soluciones y procesos para alcanzar nuevos mercados.</p>
            </div>
            <img class="card-img-bottom" src="assets/img/madrid.jpg">
        </div>